@using InformationSystemManagment.Dto.CountryDto;
@model List<GetCountriesDto>;
@{
    ViewData["Title"] = "Index";
}

<div class="text-center">

    <p class="card-text">لیست کشور ها</p>
    <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4">
        <div class="col-sm-12">
            <table class="table table-striped table-bordered zero-configuration dataTable" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">
                <thead>
                    <tr role="row">
                        <th class="sorting_asc">پرچم </th>
                        <th class="sorting_asc">قاره </th>
                        <th class="sorting_asc">واحد پول </th>
                        <th class="sorting_asc">پیش شماره </th>
                        <th class="sorting_asc">مخفف </th>
                        <th class="sorting_asc">جمعیت</th>
                        <th class="sorting_asc">نام</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model)
                    {
                        <tr role="row">
                            <td>
                                <figure class="col-xl-6 col-lg-4 col-sm-6 col-12">
                                    <img width="200" height="200" class="img-thumbnail img-fluid" src="~/images/@item.ImageAddress" />
                                </figure>
                            </td>
                            <td>@item.ContinentName</td>
                            <td>@item.CurrencyCode</td>
                            <td>@item.Code</td>
                            <td>@item.Abbreviation</td>
                            <td>@string.Format("{0:n0} نفر", item.Population)</td>
                            <td>@item.Name</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

</div>